@import '../globals.scss';

.modal{
    background-color: $colour-background;
}
.modal-body {
    background-color: $colour-background;
}
.modal-footer {
    background-color: $colour-background;
}
.modal-header {
    background-color: $colour-red;
    color: $colour-background;
}

.text-muted {
    color: white;
}
