
  <!-- button to trigger modal-->
  <button type="button" href="#" class="text-muted btn-dark btn-lg" (click)="openModal(content)">Add a Quote</button>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">New quote</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>

        <!-- Quotee-->
        <div class="form-group">
          <label for="quotee">Who said it?</label>
          <input type="text" class="form-control" id="quotee" [formControl]="quotee">
        </div>

        <!-- Quote body-->
        <div class="form-group">
          <label for="quoteBody">What did they say?</label>
          <textarea class="form-control" [formControl]="quoteBody" id="quoteBody" rows="3"></textarea>
       </div>

        <!-- Date quoted-->
        <div class="form-group">
          <label for="dateOfBirth">When was it said?</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" (click)="dp.toggle()" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker" [formControl]="dateQuotedAsString">
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="addQuote()" href="/">Add</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancel</button>
    </div>
  </ng-template>
