@import '../globals';

.modal{
    background-color: $colour-background;
}
.modal-body {
    background-color: $colour-background;
}
.modal-footer {
    background-color: $colour-background;
}
.modal-header {
    background-color: #23272B;
    color: #dad6d6;
}

.text-muted {
    color: white;
}
