.modal{
    background-color: #dad6d6
}
.modal-body {
    background-color: #dad6d6
}
.modal-footer {
    background-color: #dad6d6
}
.modal-header {
    background-color: #23272B;
    color: #dad6d6;
}

.text-muted {
    color: white;
}