@import "../../../styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.box-shadow {
    background-color: var(--colour-postit);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
 }

.quote-box {
  h2 {
    font-size:150%;
    padding-bottom: 1em;
    font-weight: bold;
    overflow: hidden;
  }
  p{
    font-size: 1.5em;
  }
  font-family: 'Caveat', cursive;
  background-color: var(--colour-postit);
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  overflow-y:auto;
  overflow-wrap: break-word;
  width: 20em;
  height: 20em;
  padding:1em;
  margin-bottom:2em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px var(--colour-shadow1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px var(--colour-shadow2);
  /* Opera */
  box-shadow: 5px 5px 7px var(--colour-shadow2);

}

.icons i {
  color: var(--colour-dark-gray);
}
.icons i:hover {
  color: var(--colour-black);
}

.modal{
    background-color: var(--colour-background);
}
.modal-body {
    background-color: var(--colour-background);
    color: var(--colour-black);
}
.modal-footer {
    background-color: var(--colour-background);
}
.modal-header {
    background-color: var(--colour-black);
    color: var(--colour-background);
}

.text-muted {
    color: var(--colour-white);
    background-color: var(--colour-black);
}
// .quote-box:hover, .quote-box:focus{
//   @extend .quote-box;
//   -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
//   -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
//   box-shadow:10px 10px 7px rgba(0,0,0,.7);
//   -webkit-transform: scale(1.05);
//   -moz-transform: scale(1.10);
//   -o-transform: scale(1.10);
//   position:relative;
//   z-index:5;
// }



//  *{
//   margin:0;
//   padding:0;
// }
// body{
//   font-family:arial,sans-serif;
//   font-size:100%;
//   margin:3em;
//   background:#666;
//   color:#fff;
// }
// h2,p{
//   font-size:100%;
//   font-weight:normal;
// }
// ul,li{
//   list-style:none;
// }
// ul{
//   overflow:hidden;
//   padding:3em;
// }
// ul li a{
//   text-decoration:none;
//   color:#000;
//   background:#ffc;
//   display:block;
//   height:10em;
//   width:10em;
//   padding:1em;
// }
// ul li{
//   margin:1em;
//   float:left;
// }
