@import "../../../styles.scss";
.site-header {
    background-color: var(--colour-black);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: var(--colour-light-gray);
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: var(--colour-white);
    text-decoration: none;
  }
