<body>
    <app-navbar></app-navbar>
    <main role="main">
      <app-jumbotron></app-jumbotron>
      
      <div class="background py-5">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <app-quote-box></app-quote-box>
            </div>
            <div class="col-sm">
              <app-quote-box></app-quote-box>
            </div>
            <div class="col-sm">
              <app-quote-box></app-quote-box>
            </div>
            <div class="col-sm">
              <app-quote-box></app-quote-box>
            </div>
            <div class="col-sm">
              <app-quote-box></app-quote-box>
            </div>
          </div>         
        </div>
      </div>

    </main>

  </body>
